li{
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 40px;
}
li:hover{
    background-color: #bcdfff;
    border-radius: 10px;
    transition: all 0.4s;
}
.cont2{
    display: flex;
}
.cont1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 2px 2px 6px ;
    border-radius: 40px;
    text-align: center;
}
.head-name{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}
table{
    background-color: #bcdfff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 70%;
}
td{
    box-shadow: 1px -1px 9px rgb(255, 255, 255) ;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}
p{
    text-align: center;
}
main{
    margin-top: 10%;
}
@media screen and (max-width: 480px){
    li{
        list-style: none;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        border-radius: 40px;
    }
    li:hover{
        background-color: #bcdfff;
        border-radius: 10px;
        transition: all 0.4s;
    }
    .cont2{
        display: flex;
        font-size: 10px;
    }
    .cont1{
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;
    }
    .head-name{
        display: flex;
        align-items: center;
        padding: 3%;
        font-size: 13px;
    }
    table{
        background-color: #bcdfff;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        width: 90%;
    }
    td{
        box-shadow: 1px -1px 9px rgb(255, 255, 255) ;
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
        font-size: 80%;
    }
    p{
        text-align: center;
    }
    main{
        margin-top: 20%;
    }
}